<!--アバウトページ　あや-->

<div class="container text-center">
  <div class="row">
    <div class="col"> 
      <br>
      <h1>
      <i class="fa-solid fa-democrat"></i>ながのけーきについて<i class="fa-solid fa-candy-cane"></i>
      </h1>
       <br>
    <div>
      <h5>『ながのけーき』は全国発送可能なケーキ屋さんです</h5>
      <div>
      <!--イメージ画像  -->
      <div>
        <img src="assets/cakea.jpg" alt="ながのけーきの画像" width = "400" hight ="250">
      </div>
    
        お子様からお年寄りの方までお召し上がりになれるよう
      </div>
      <div>
        様々なバリエーションをご用意しております
      </div>
      <div>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます
      </div>
      <div>
        ぜひご注文ください!  
      </div>
    </div>
    </div>
  </div>
</div>
