<!--トップ画面-->
<div class="container">
  <div class="row">
    <%= render 'layouts/genre' %>
    <div class="col-sm-12 col-md-8 col-lg-5 mx-auto text-center" style=" margin-top: 150px ;"> 
      <h5>ようこそ　ながのけーき へ！</h5>
      <div>このサイトは、ケーキ販売のECサイトになります。</div>
      <div>会員でない方も商品の閲覧はできますが、</div>
      <div>購入には会員登録が必要になります。</div>
    </div>
  </div>
</div>