// ブートストラップボタン色変更　あや
$primary: #2ca9e1;
$secondary: #c0c6c9;
$success: #00a3af;
$Danger: #e9546b;
$Warning: #f8e58c;
$Info: #a59aca;
$Light: #d8a373;
$Dark: #8d6449;
$Link: #b44c97;

// ここから下css
@import '~bootstrap/scss/bootstrap';
// 背景色css
body {
  background-color: #fef4f4;
}


  
  