// ブートストラップボタン色変更
$primary: #89c3eb;
$secondary: #c0c6c9;
$success: #88cb7f;
$Danger: #e9546b;
$Warning: #f8e58c;
$Info: #bbbcde;
$Light: #d8a373;
$Dark: #8d6449;
$Link: 

// ここから下css
@import '~bootstrap/scss/bootstrap';
// 背景色css
body {
  background-color: #fef4f4;
}


  
  