<div class="container-fluid">
  <div class="row mt-5">
    <div class  = "complete-image col-8 mx-auto text-center" style= "background-image: url('/assets/cake_c.png');">
    <!--%= image_tag("cake_c.png")%>-->
      <h1 class =" mt-5 mb-4">
        <i class="fa-solid fa-gift fa-bounce"></i>
          <strong>ご注文ありがとうございました！</strong>
        <i class="fa-solid fa-gift fa-bounce"></i>
      </h1>
      <strong><h4>またのご利用をこころより　お待ちしております!</h4></strong>
    </div>
  </div>
</div>
<script src="https://app.embed.im/snow.js" defer></script>