<div class="container-fluid">
  <div class="row mx-auto mt-5">
    <div class="col-2" style="text-align: left;">
     ジャンル検索
       <!--%= render 'layouts/genre' ,genres:@genres %>-->
    </div>
    <div class="col-10">
      <div class="row align-items-baseline">
        <h2><strong>商品一覧</strong></h2>
        <p class="ml-2">(全<%= @items.count %>件)</p>
      </div>
      <div class="row">
        <div>
          <% @items.each do |item| %>
            <%= link_to item_path(item) do %>
              <%#= image_tag item.image, size: "50x50" %>
            <% end %>
            <%= item.name %>
            ¥<%= item.price.to_s(:delimited) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
